name: flutter_gen_ai_chat_ui_example
description: A comprehensive example for the Flutter Gen AI Chat UI package
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_gen_ai_chat_ui:
    path: ../
  provider: ^6.1.2
  google_fonts: ^6.2.1
  shared_preferences: ^2.2.2
  intl: ^0.19.0
  cupertino_icons: ^1.0.6
  speech_to_text: ^6.6.1
  flutter_markdown: ^0.7.6+2
  url_launcher: ^6.2.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1

flutter:
  uses-material-design: true
  assets:
    - assets/images/ 